<div class="title">
	<h1>Photography Show Registration</h1>
	<h2>Website created by Lucas Cacace</h2>
	<span class="note"> Under development </span>
<div>
<%= link_to 'Created Shows', controller: 'shows' %>

<div> <center>
	<img src="http://www.flowerspictures.org/image/flowers/primula/primula-flower_30.jpg" 
	alt="pink primula" style="width:650px;height:430px;">




